/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Sans+Pro&family=Vollkorn&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  line-height: 22px;
  font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  padding: 20px;
}

/*ANIMATIONS*/
@keyframes slider {
  0% {
    visibility: hidden;
    opacity: 0;
  }

  2% {
    visibility: visible;
    opacity: 1;
  }

  18% {
    visibility: visible;
    opacity: 1;
  }

  20%,
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

/*HEADER*/
.logo img {
  margin: 0px 70px 0px 0px;
  max-width: 60px;
  max-height: 60px;
  display: inline-block;
}

.container-h {
  display: flex;
  align-items: center;
  margin: 15px 81px 0px 81px;
  position: absolute;
}

nav ul {
  display: flex;
  align-items: center;
}

li {
  list-style-type: none;
}

nav ul li a {
  padding: 13px 35px 20px;
  text-decoration: none;
  font-size: 13px;
  color: white;
}


/*SLIDER*/
.slider {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.slider .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 1326px;
  height: 585px;
  background: #000;
  visibility: hidden;
  opacity: 0;
  animation: slider 24s linear infinite;

}

.slide:nth-child(1) {
  background-image: url(https://daks2k3a4ib2z.cloudfront.net/5527a015715879bc5767ece2/55299e51264213136f7d6a43_hoop.jpg);
  background-position: 50% 100%;
  background-size: cover;
}

.slide:nth-child(2) {
  background-image: url(https://daks2k3a4ib2z.cloudfront.net/5527a015715879bc5767ece2/55299d1b0108cf394df61d5a_sheep.jpeg);
  background-position: 50% 0px;
  background-size: cover;
}

.slide:nth-child(3) {
  background-image: url(https://daks2k3a4ib2z.cloudfront.net/5527a015715879bc5767ece2/5527a395e02754bb57746389_slider1.jpg);
  background-position: 50% 0px;
  background-size: cover;
}

.slide:nth-child(4) {
  background-image: url(https://daks2k3a4ib2z.cloudfront.net/5527a015715879bc5767ece2/55299e51264213136f7d6a43_hoop.jpg);
  background-position: 50% 100%;
  background-size: cover;
}

.slide:nth-child(5) {
  background-image: url(https://daks2k3a4ib2z.cloudfront.net/5527a015715879bc5767ece2/55299d1b0108cf394df61d5a_sheep.jpeg);
  background-position: 50% 0px;
  background-size: cover;
}

.slide:nth-child(6) {
  background-image: url(https://daks2k3a4ib2z.cloudfront.net/5527a015715879bc5767ece2/5527a395e02754bb57746389_slider1.jpg);
  background-position: 50% 0px;
  background-size: cover;
}

.slider .slide:nth-child(1) {
  animation-delay: 0s;
}

.slider .slide:nth-child(2) {
  animation-delay: 4s;
}

.slider .slide:nth-child(3) {
  animation-delay: 8s;
}

.slider .slide:nth-child(4) {
  animation-delay: 12s;
}

.slider .slide:nth-child(5) {
  animation-delay: 16s;
}

.slider .slide:nth-child(6) {
  animation-delay: 20s;
}

.slider .slide .content {
  position: absolute;
  top: 195px;
  right: 50px;
  z-index: 1;
}

 .content-1{
  max-width: 380;
  background-color: #000;
}

.slider .slide .content h2 {
  margin: 20px 0px 10px 0;
  padding: 0;
  font-size: 56px;
  color: white;
  line-height: 54px;
  font-weight: 900;
}

.slider .slide .content h4 {
  margin: 10px 0 0;
  padding: 0;
  font-size: 17px;
  color: white;
  font-family: 'Vollkorn', serif;
  font-style: italic;
}